
@model OnlineMobileShop.Models.LogIn

@{
    ViewBag.Title = "LogIn";
}

<link rel="stylesheet" type="text/css" href="~/Styles/LogIn.css" />
<body>
    <h3 style="font-family:sans-serif;padding-left:5%">Log In</h3>

    @using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
    {
        <table align="left" cellspacing="10" cellpadding="10">

            <tr>
                <td>
                    @Html.Label("Mail-ID")
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.MailID, htmlAttributes: new { @class = "Login-Input", @maxlength = "30", @placeholder = "Enter your mail id" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Password")
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.Password, htmlAttributes: new { @class = "Login-Input", @maxlength = "30", @placeholder = "Enter your password" })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Login" class="button" />
                </td>
            </tr>
        </table>
    }
</body>
